



body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 2fr 2fr ;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #e5e5e5;

}

.mail{
    font-size: 16px;
    color: #252525;
     border-right: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2vw;
    padding-right: 5vw;

 }
.phone{
    border-right: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5vw;

}
.otherIcons{
    border-right: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5vw;

}
.flag{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5vw;
    border-right: 1px solid #E5E5E5;

}
.flag img{
margin-left: -1rem;
}

.login{
  padding-right: 2vw;

}

.inner-header{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    justify-items: center;
    margin-top: 2rem;
    align-items: center;
}

.catagoryAndsearch input {    
   font-size: 16px;
   height: 3rem;
   border: none;
   padding-left: 30px; 
}
.catagoryAndsearch button{
    height: 3rem;
    max-width: 40%;
    padding-right: 25px;
    border: none;
    background-color: white;
    padding-left: 30px;
}

.catagoryAndsearch i{
    border: none;
    height: 3.1rem;
    width: 3.1rem;
    background-color: orange;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catagoryAndsearch{
    border: 1px solid #E5E5E5;
 
}

.last-header{
    background: #252525;
    margin-left: 30px;
    margin-right: 30px;
    color: #fff;
    margin-top: 6vh;

}


.navElements{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-direction: row;
    cursor: pointer;
 }
.navElements li:hover{
    background-color: orange;
}
 .gender-selection {
    text-align: center;
}
.partner-logo img{
      width: 114px;
     height: 25px;
     margin: 10px;
}
 
 .footer h5{
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
 }
 .col-text{
    line-height: 36px;
    font-size: 16px;
    color: #b2b2b2;
 }
 .col-1, .col-2, .col-3, .col-4{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-left:1rem;
}