html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #252525;
  text-align: left;
  background-color: #fff;
  margin: 0;
}
/* first head */
.first-header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-bottom: #e5e5e5 solid;
  border-width: 1px;
}
.mail-service,
.top-social,
.login-panel {
  border-right: #e5e5e5 solid;
  border-width: 1px;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.phone-service,
.select-lan {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 20px;
}
.top-social {
  margin-left: auto;
}
.top-social i {
  margin-right: 10px;
}

.left-side {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.right-side {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.first-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* second header */
.mid-header {
  padding: 39px 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.advanced-search {
  display: inline-flex;
  height: 50px;
  border: 1px solid #ebebeb;
}
.category-btn {
  float: left;
  background: transparent;
  border: none;
  padding-left: 23px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-right: 60px;
  font-size: 16px;
  color: #252525;
  position: relative;
}

.input-group input {
  /* width: 100%; */
  height: 100%;
  border: none;
  font-size: 16px;
  color: #d1d1d1;
  padding-left: 20px;
}

.input-group button {
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #e7ab3c;
  background: #e7ab3c;
  padding: 14px 16px 14px;
  cursor: pointer;
}

.price i {
  font-size: large;
}

.nav-depart {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.depart-btn {
  background-color: grey;
  color: white;
  background-color: #3b3b3b;
  padding: 16px 10px 15px;
}

.icco i {
  text-transform: uppercase;
  background-color: #252525;
  color: white;
  border-right: 2px solid #3b3b3b;
  text-transform: uppercase;
  padding: 20px 1.5vw 19px;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 700;
}

.icco i:hover {
  background-color: #e7ab3c;
  cursor: pointer;
  color: white;
}

.icco i :nth-child(1) {
  margin-left: -2rem;
}

.sec-nav-menu {
  font-size: 16px;
  background: #4c4c4c;
  width: 89.5vw;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
}
.menu-btn {
  padding: 16px 10px 15px;
  background-color: black;
}
.last-header {
  background: #252525;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
  cursor: pointer;
}

.slicknav_btn {
  position: relative;
  display: block;
  float: right;
  padding: 0.438em 0.625em;
  line-height: 1.125em;
}

/* header for big screens */
@media (max-width: 950px) {
  .category-btn {
    padding-right: 0px;
  }
}

/* header query for middle screen */
@media screen and (max-width: 700px) {
  .nav-depart {
    display: none;
  }
  .sec-nav-menu {
    width: 75vw;
    margin-top: 0.5vh;
  }
  .left-side {
    display: none;
  }
  .top-social {
    border-right: none;
    display: none;
  }
  .right-side {
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
  }
  .mid-header {
    grid-template-columns: 1fr;
    grid-row-gap: 1vh;
    margin: 0 5vw;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  .first-header {
    grid-template-columns: 1fr;
  }
  .category-btn {
    padding-right: 5px;
    display: none;
  }

  .input-group button {
    float: inline-end;
  }
  .price {
    width: 75vw;
    text-align: left;
    margin: 0.5rem;
  }
  .last-header {
    background: white;
  }
  .slicknav_btn {
    text-transform: uppercase;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: grid;
  justify-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: calc(50% - 8vh);
  text-align: center;
  margin-left: 3.3vw;
}
@media (max-width: 870px) {
  .slideshow-container img,
  .next,
  .prev {
    display: none;
  }
  .text {
    margin-top: 10vh;
    position: sticky;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.single-banner {
  position: relative;
  z-index: 1;
}
.single-banner img {
  min-width: 100%;
  max-width: 100%;
}
.single-banner .inner-text {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.single-banner .inner-text h4 {
  color: #252525;
  font-weight: 700;
  padding: 11px 28px;
  background: #ffffff;
  border-radius: 2px;
}

@media (max-width: 1000px) {
  .col-lg-4 {
    display: contents;
  }
  .single-banner {
    width: 100%;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.friday {
  font-size: 72px;
}

/*  small screens */

@media (max-width: 360px) {
  .friday {
    font-size: 45px;
  }

  .input-group {
    display: flex;
  }
  .input-group input {
    padding: 0;
    font-size: smaller;
  }
}
@media (max-width: 500px) {
  .single-banner .inner-text h4 {
    /* font-weight: 700; */
    padding: 0 3px;
    /* width: 200px; */
  }
  .banners img {
    min-height: 10vh;
  }
}

.women-ad h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 18px;
}

.women-ad a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color: transparent;
}
.women-ad {
  height: 620px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding-top: 10vh;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .women-ad {
    margin-left: 0;
    margin-right: 0;
  }
}
.wrappy {
  position: absolute;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  /* height: 100%; */
  top: 37vh;
}
.women-ad img {
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.section-title h2 {
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5wh;
  position: relative;
}
.section-title p {
  color: #6e6e6e;
}
.section-title .product-price {
  font-size: 24px;
  font-weight: 700;
  color: #e7ab3c;
}
.section-title .product-price span {
  font-size: 16px;
  font-weight: 400;
  color: #636363;
}
.countdown-timer {
  text-align: center;
  margin-bottom: 50px;
}

.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  color: #ffffff;
  background: #e7ab3c;
  text-transform: uppercase;
  text-decoration: none;
}
.primary-btn:hover {
  color: white;
  text-decoration: none;
}
.countdown-timer .cd-item {
  margin-right: 5px;
  padding: 10px 6px;
  display: grid;
}
.cd-item {
}

.deal-of-week {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: grid;
  justify-content: center;
}

.fstspan {
  border-bottom: #e7ab3c solid;
  padding-bottom: 1vh;
}

.countdown-timer .cd-item span {
  color: #e7ab3c;
  font-weight: 700;
  line-height: 40px;
  font-size: 36px;
}

.countdown-timer .cd-item p {
  font-size: 16px;
  color: #b2b2b2;
}

.countdown-timer .cd-item {
  background: #ffffff;
  padding: 0.5vh 2.5vw;
  display: grid;
  border-radius: 5px;
}

.countdown-timer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 650px) {
  .countdown-timer {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .cd-item {
    margin-right: 0;
  }
}
@media only screen and (max-width: 400px) {
  .countdown-timer {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
@media screen and (max-width: 350px) {
  .fstspan {
    border: none;
  }
}

/* .mens-ads {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.begmanimg h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 7vh;
  margin-left: 10px;
  position: absolute;
}
.more {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
}
.more::after,
.more::before,
.more:hover {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .mens-ads {
    grid-template-columns: 1fr;
  }
  .begmanimg img {
    min-width: 1%;
    margin-right: 0;
  }
}

.wrp a {
  border-bottom: solid white;
}

.insta-posts {
  margin-top: 5vh;
  display: grid;
  background-color: #222;
  overflow: hidden;
}
.insta-posts img {
  width: 100%;
  height: 30vh;
}
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5vh 1vw;
}
.our-blog h1 span {
  border-bottom: solid;
  border-color: #e7ab3c;
  padding: 10px 0;
}

@media (min-width: 1200px) {
  .insta-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1199px) {
  .insta-posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .insta-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .insta-posts {
    grid-template-columns: 1fr;
  }
}

.our-blog {
  display: grid;
  justify-items: center;
}

@media (min-width: 1201px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
  }
}

.article {
  display: grid;
  gap: 0.8vh;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: 1vh 1vw;
}

.article-img {
}
.article-icons {
  color: #a2a1a1;
}
.article-icons i::before,
.article-icons i::after,
.article-icons i:hover,
.article-icons i {
  color: #e7ab3c;
}
.article-header a::before,
.article-header a::after,
.article-header a:hover,
.article-header a {
  color: #222;
  text-decoration: none;
  width: 300px;
}
.article-text {
  width: 350px;
}

.show {
  color: whitesmoke;
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.show:hover {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
.show a,
.show a::before,
.show a::after,
.show a:hover {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.insta-img {
  display: grid;
  justify-items: center;
  align-items: center;
}
.before-last {
  display: grid;
  border: 1px solid #f3f4f0;
  margin: 0 10vw;
}

.before-last i {
  color: #e7ab3c;
  font-size: 40px;
}
.before-last-text {
  margin-left: 6vw;
  padding: 30px;
}

.car {
  display: flex;
}
.car i {
  padding-top: 38px;
  padding-left: 10px;
}

.footer {
  margin-top: 2.5vh;
  background-color: #252525;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.9fr 0.9fr 1.2fr;
  column-gap: 3vw;
  min-height: 40vh;
  padding-bottom: 15vh;
}

.foot-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vh;
  width: 200px;
}

.footer p {
  color: #717171;
}
.foot-head {
  margin-top: 5vh;
}
.foot-head img {
  margin-top: -2vh;
  background-color: white;
}
.foot1 {
  margin-left: 1vw;
}
.foot-head {
  margin-bottom: 3vh;
  font-weight: 700;
  font-size: medium;
}
.subscribe-container {
  display: inline-flex;
  height: 50px;
}

.subscribe-container input {
  height: 100%;
  border: none;
  background-color: #3b3b3b;
  width: 18vw;
  color: #636363;
}
.subscribe-container button {
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #e7ab3c;
  background: #e7ab3c;
  padding: 14px 8px 14px;
}
.icoons {
  font-size: larger;
  gap: 1vw;
}
.icoons a,
.icoons a::before {
  width: 3vw;
  padding: 1vw;
  color: white;
  background-color: #636363;
  border-radius: 15px;
  margin: 1vw;
}
@media (min-width: 990px) {
  .icoons a,
  .icoons a::before {
    padding: 1vw;
    color: white;
    background-color: #636363;
    border-radius: 15px;
    margin: 0.4vw;
  }
}
@media (min-width: 1400px) {
  .icoons a,
  .icoons a::before {
    margin: 0.1vw;
  }
}
.icoons a:hover,
.icoons a::after {
  color: white;
  background-color: #e7ab3c;
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .foot-text {
    width: auto;
  }
  .foot1,
  .foot2,
  .foot3,
  .foot4 {
    margin-left: 5vw;
  }
}
@media (max-width: 400px) {
  .articles {
    max-width: 80vw !important;
    margin: 0;
  }
  .article {
  }
  .article-img img {
    max-width: 80vw !important;
    margin: 0;
  }
  .article-icons {
    max-width: 80vw !important;
    margin: 0;
  }
  .article-header {
    max-width: 80vw !important;
    margin: 0;
  }
  .article-text {
    max-width: 80vw !important;
    margin: 0;
  }
}

@media (max-width: 300px) {
  .car {
    display: block;
  }
  .before-last-text {
    margin-left: 0;
    padding: 15px 0;
  }
  .footer {
    margin-left: 1vw;
  }
}

@media (max-width: 200px) {
  .footer {
    font-size: small;
  }
}

@media (max-width: 990) {
  .subscribe-container input {
    width: 25vw;
    padding-left: 2vw;
  }
}

.carausel-item img {
  width: 100%;
  height: 100%;
}
.row img {
  height: 50vh;
}
